#wrapper {
    width: 400;
    margin: 0 auto 0 auto;
    border: 2px solid #000;
    padding: 10px;
    font: 15px avenir-black,sans-serif;  
    background-image: url("https://drive.google.com/uc?id=0B06rKVRX06uycXFQdmlKMWs1S28");
}
h1 {
    text-align:center;
}
.column {
    width:238px;
    height:370px;
    border:1px solid #D1660E;
    margin: 5px;
    float:left;
}
footer {
    height: 30px;
    border:1px solid #D1660E;
    margin:5px;
    clear:left;
}
